p {
  background: lightblue;
}
div {
  width: 500px;
  height: 320px;
  background: lightblue;
}

.Error {
  color: red;
}

.tmp {
  width: 50px;
  height:100px;
}

.msg {
  position: relative;
  background-color: white;
  right: -15px;
  width: 470px;
  height: 70px;
  border-line: 5px;
  vertical-align: top;
  display: block;
}

